* {
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  background-color: #78787894;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cards {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 800px;
  height: 500px;
  background-color: #fff;
  border-radius: 15px;
  text-align: center;
  position: relative;
}
.card {
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 15px;
}
.card_wrapper {
    width: 200px;
    height: 200px;
    margin: 10px;
    border-radius: 20px;
}
.cards img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    inset: 0;
}
.bg {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position-x: right;
    background-repeat: no-repeat;
}
.card1 .bg {
    background-image: url("img/aotBg.jpg");
}
.card2 .bg {
    background-image: url("img/demonslayerBg.jpeg");
}
.card3 .bg {
    background-image: url("img/sololevelingBg.jpg");
    background-position: left;
}
.text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
}